<% # Ctrl + shift + ~  = ruby tag shortcut%>
<a href="">Play rock</a>
<a href="./paper.html.erb">Play paper</a>
<a href="">Play scissors</a>

<h2>We played rock!</h2>

<h2>They played <%= @comp_move %>!</h2>

<h2>We <%= @outcome %>!</h2>
